<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']"  >Home</a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedin()">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/authors']" >Authors</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']"  >Book List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/reviews']"  >reviews</a>
      </li>
      <li class="nav-item" *ngIf="loggedin()">
        <a class="nav-link btn btn-primary" (click)="loggout()">Logout</a>
      </li>
    </ul>
    <form #loginform="ngForm" *ngIf="!loggedin()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="UserName" required [(ngModel)]="model.UserName">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
      <button [disabled]="!loginform.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

    <div *ngIf="loggedin()" class="dropdown" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
              Welcome {{authservice.decodedtoken?.unique_name}} <span class="caret"></span>
      </button>

      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item fa fa-user" href="#">Edit Profile</a></li>
        <li role="menuitem"><a class="dropdown-item fa fa-sign-out" href="#" (click)="loggout()">Logout</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>


    <!-- <ul class="navbar-nav mr-auto text-light" *ngIf="loggedin()">
    <li class="nav-item active" >
      <a class="nav-link text-light stretched-link "  (click)="loggout()" >Logout</a>
    </li>
   </ul> -->
  </div>

</nav>


