<div class="container">
  <div *ngIf="!registermode" style="text-align: center;">
  <h1>Find your Book</h1>
  <p class="lead">
    Lets explore to new world... All you need to do is sign up!
  </p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
    <button class="btn btn-info btn-lg">Learn More</button>
  </div>
</div>

  <div *ngIf="registermode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelregistermode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
<table *ngIf="books" id="booksTable">
  <tr>
    <th>ID</th>
    <th>Book Name</th>
    <th>Category</th>
    <th>Price ($)</th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{ book.bookID }}</td>
    <td>{{ book.bookName }}</td>
    <td>{{ book.category }}</td>
    <td>{{ book.price }}</td>
  </tr>
</table>
